<h1>Học Express không khó</h1>
<%- include('./banner') %>
<hr />
<% if (status) {%>
<h2><%= title %></h2>
<h2><%- title %></h2>
<% } %>
<h2>Danh sách người dùng</h2>
<% users.forEach(user => { %>
<h3><%= user %></h3>
<% }) %>
