body {
    font-family: system-ui;
}

/* .box {
    width: 200px;
    height: 200px;
    background-color: orange;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
} */

/* .heading {
    color: #fff;
    text-shadow: -1px -1px 0px red, 1px 1px 0px red;
} */

.menu {
    list-style: none;
    display: flex;
}

.menu a {
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.active a, a:hover {
    text-shadow: 
        -0.2px -0.2px 0 currentColor,
        0.2px 0.2px 0 currentColor;
}