/*Comment CSS*/

//Comment SCSS
@import "parts/variables";
@import "parts/reset";

.header {
  $padding: 10px; //Biến cục bộ
  background-color: $primaryColor;
  .header-inner {
    padding: $padding $padding + 5px;
    .logo {
      max-height: 150px;
      overflow: hidden;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .menu {
      background: green;
      > ul {
        display: flex;
        > li {
          &.item {
            flex: 1 0 auto;
            > a {
              display: block;
              text-decoration: none;
              &:hover {
                color: red;
              }

              &::before {
                content: "";
              }
            }
          }
        }
      }
    }
  }
}

$copyrightSelector: ".copyright";
$property: color;
$size: 20;
$selector1: col;
$selector2: 2;

.footer {
  padding: 20px 0;
  #{$copyrightSelector} {
    text-align: center;
    #{$property}: grey;
    font-size: $size + 0%;
  }

  //.col-2
  #{"." + $selector1 + "-" + $selector2} {
    width: 50%;
  }
}
