/*
Khai báo biến

1. Biến toàn cục (Global Variable)

2. Biến cục bộ (Local Variable)
*/

/*Khai báo biến toàn cục */

:root {
  --primary-color: green;
  --secondary-color: blue;
  --font-family: Roboto, sans-serif;
}

body {
  --primary-color: blueviolet;
  color: var(--primary-color);
}

.box {
  --border-color: red; /*Biến cục bộ*/
  --font-style: italic;
  border: 1px solid var(--border-color);
}

.box .content {
  font-style: var(--font-style);
}

/* .element {
  font-style: var(--font-style);
} */

.box:hover {
  --border-color: green;
}
